@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #111214;
  overflow-x: hidden;
  overflow-y: hidden;
}